* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Lato,
    Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #54595d;
  line-height: 1.5;
}

.background-img {
  background-image: url("https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-d7502d35.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
}

header {
  font-family: Linux Libertine, Georgia, Times, serif;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
}

header .header-title {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
}

header .header-title span {
  font-size: 4.1rem;
}

header .header-sub-title {
  margin-bottom: 2rem;
}

main .language-menu {
  background-image: url("https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

main .language-menu--container {
  width: 54.6rem;
  height: 32.5rem;
  position: relative;
  margin: 0 auto;
}

main .language-menu .language-menu--option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15.6rem;
  height: 4.5rem;
  position: absolute;
}

main .language-menu .language-menu--option:hover {
  background-color: #eaecf0;
  cursor: pointer;
  text-decoration: underline;
}

main .language-menu .language-menu--option a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6rem;
  color: #3366cc;
  margin-bottom: 0.5rem;
}

main .language-menu .language-menu--option span {
  font-size: small;
  color: #5f6467;
}

.lang1 {
  top: 0;
  left: 10%;
}

.lang2 {
  top: 0;
  left: 60%;
}
.lang3 {
  top: 20%;
  left: 0;
}
.lang4 {
  top: 20%;
  left: 70%;
}
.lang5 {
  top: 40%;
  left: -2%;
}
.lang6 {
  top: 40%;
  left: 74%;
}
.lang7 {
  top: 60%;
  left: 0;
}
.lang8 {
  top: 60%;
  left: 72%;
}
.lang9 {
  top: 80%;
  left: 10%;
}
.lang10 {
  top: 80%;
  left: 60%;
}

.search .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.search .search-container .search-input-container {
  display: flex;
  width: 39.5rem;
  height: 4.4rem;
  font-size: 1.6rem;
  color: #5f6467;
  position: relative;
}

.search .search-container .search-input-container input {
  border: none;
  width: inherit;
  outline: none;
  border: 1px solid #a2a9b1;
  border-right: none;
  padding-left: 1rem;
}

.search .search-container .search-input-container input:focus {
  border: 2px solid #3366cc;
}

.search .search-container .search-input-container p {
  position: absolute;
  left: 89%;
  align-self: center;
}

.search .search-container .search-input-container p:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.search .search-container .search-input-container .dropdown-icon {
  width: 1rem;
}

.search .search-container .search-button {
  width: 5.6rem;
  height: 4.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  background-color: #3366cc;
}

.search .search-container .search-button:hover {
  background: #447ff5;
  border: #447ff5;
}

.search .search-container .search-button img {
  width: 2rem;
}

.language-dropdown {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-detail {
  width: 20rem;
  height: 1px;
  background-color: #c8ccd1;
  margin: 0 1.5rem;
}

.language-dropdown--button {
  padding: 0.6rem 1.2rem;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #3366cc;
  font-family: inherit;
}

.language-dropdown--button:hover {
  background-color: #fff;
}

.language-icon {
  display: inline-block;
  background-position: 0 -616px;
  height: 22px;
  width: 22px;
}

.blue-dropdown {
  display: inline-block;
  background-position: 0 -527px;
  height: 14px;
  width: 14px;
}

.language-dropdown--button__text {
  padding: 0 6.5px;
}

hr {
  margin: 0.26rem 1.3rem;
  border: 0;
  border-bottom: 1px solid #c8ccd1;
  height: 0;
}

.footer-info {
  display: flex;
  padding: 4.16rem 1.28rem 1.28rem;
}

.footer-sidebar {
  width: 35%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.footer-sidebar--info {
  display: flex;
  max-width: 35rem;
  margin-bottom: 3.2rem;
}

.wikimedia-logo {
  display: inline-block;
  background-position: 0 -212px;
  height: 45px;
  width: 45px;
  margin-right: 1rem;
}

.footer-sidebar--info--content {
  padding-right: 2rem;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.footer-sidebar--info--content a {
  text-decoration: none;
  color: #36c;
}

.footer-sidebar--info--content a:hover {
  text-decoration: underline;
}

.footer-sidebar--movile {
  display: flex;
  max-width: 35rem;
  margin-bottom: 3.2rem;
  background-color: #f8f9fa;
}

.wikiapp-logo {
  display: inline-block;
  background-position: 0 -717px;
  height: 49px;
  width: 45px;
  margin-right: 1rem;
}

.footer-sidebar--movile--content {
  padding-right: 2rem;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.footer-sidebar--movile--content strong {
  font-weight: 700;
}

.footer-sidebar--movile--content p {
  margin: 1.3rem 0;
}

.movile-logos-container {
  display: flex;
}

.android-logo {
  display: inline-block;
  background-position: 0 -540px;
  height: 39px;
  width: 123px;
  margin-right: 0.5rem;
}

.apple-logo {
  display: inline-block;
  background-position: 0 -578px;
  height: 39px;
  width: 123px;
  margin-right: 1rem;
}

.other-projects {
  width: 65%;
  display: inline-block;
}

.other-project a {
  text-decoration: none;
  display: flex;
  padding: 1.3rem;
}

.other-project a:hover {
  background-color: #eaecf0;
}

.other-project a:focus {
  border: 1px solid #36c;
}

.other-project {
  position: relative;
  float: left;
  width: 33%;
  min-height: 8.5rem;
}

.other-project-logo {
  display: flex;
  align-items: center;
}

.commons-logo {
  display: inline-block;
  background-position: 0 0px;
  height: 47px;
  width: 43px;
  margin-right: 1rem;
}

.wikiviajes-logo {
  display: inline-block;
  background-position: 0 -445px;
  height: 37px;
  width: 43px;
  margin-right: 1rem;
}

.wikcionario-logo {
  display: inline-block;
  background-position: 0 -482px;
  height: 37px;
  width: 43px;
  margin-right: 1rem;
}

.wikilibros-logo {
  display: inline-block;
  background-position: 0 -126px;
  height: 39px;
  width: 43px;
  margin-right: 1rem;
}

.wikinoticias-logo {
  background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister.png');
  display: inline-block;
  height: 30px;
  width: 43px;
  margin-right: 1rem;
}

.wikidata-logo {
  display: inline-block;
  background-position: 0 -164px;
  height: 39px;
  width: 43px;
  margin-right: 1rem;
}

.wikiversidad-logo {
  display: inline-block;
  background-position: 0 -408px;
  height: 39px;
  width: 43px;
  margin-right: 1rem;
}

.wikiquote-logo {
  display: inline-block;
  background-position: 0 -286px;
  height: 42px;
  width: 43px;
  margin-right: 1rem;
}

.mediawiki-logo {
  display: inline-block;
  background-position: 0 -48px;
  height: 39px;
  width: 43px;
  margin-right: 1rem;
}

.wikisource-logo {
  display: inline-block;
  background-position: 0 -328px;
  height: 39px;
  width: 43px;
  margin-right: 1rem;
}

.wikispecies-logo {
  display: inline-block;
  background-position: 0 -368px;
  height: 40px;
  width: 43px;
  margin-right: 1rem;
}

.metawiki-logo {
  display: inline-block;
  background-position: 0 -88px;
  height: 38px;
  width: 43px;
  margin-right: 1rem;
}

.other-project--content {
  display: flex;
  flex-direction: column;
  max-width: 18rem;
}

.other-project--title {
  color: #3366cc;
  font-size: 1.4rem;
}

.other-project--tagline {
  color: #54595d;
  font-size: 1.3rem;
  display: block;
}

.site-lisence-container {
  display: flex;
  margin: 1.4rem 0;
  justify-content: center;
}

.site-lisence-container p::after {
  content: "\2022";
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: inherit;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}

.site-lisence-container a {
  text-decoration: none;
  color: #36c;
}

.site-lisence-container a:hover {
  text-decoration: underline;
}

.user-terms::after {
  content: "\2022";
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: inherit;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  color: #54595d;
}
